<!--MODAL ADD ITEM-->

    <div class="resultItmCT">
        <div class="resultItem">
            <div id = "itmPoster">
                <img id = "actualPoster" src="assets/sample10.jpg">
            </div>
            <div id="itmInfo">
                <span id="resultItemType">Movie</span><br>
                <div class="spacerTitle"></div>
                <span id="resultItemTitle">Harry Potter and the Sorcerer's Stone</span> <br>
                <span id="resultItemYear">(2001)</span><br><br>
                <button id="moreInfo" style="vertical-align: middle;" onclick="showModal()"><span>More Info</span></button>
                <button id="addToList" style="vertical-align: middle;" onclick="location.href='list.html'"><span>Add to BingeList</span></button>
            </div>
        </div>
    </div>
