<!--MODAL FOR ITEM INFO-->
<div id="itmModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="itmModalIn">
            <div class="headerMd"> 
                <div class="posterMd"><img id = "posterPicMd" src = "assets/sample.jpg"></div>
                <div class="infoItemMd">
                    <span id="titleItemMd">Avengers: Endgame</span> <br>
                    <span id="direcItemMd">Director: </span> <br> 
                    <br>
                    <button class="react" onclick="location.href='http://www.google.com'"> <img id="shk" src="assets/reactSHK.png"> </button>
                    <button class="react" onclick="location.href='http://www.google.com'"> <img id="cry" src="assets/reactCRY.png"> </button>
                    <button class="react" onclick="location.href='http://www.google.com'"> <img id="eww" src="assets/reactEWW.png"> </button>
                    <button class="react" onclick="location.href='http://www.google.com'"> <img id="luv" src="assets/reactLUV.png"> </button>
                    <br><br>
                    <button id="addToList" style="vertical-align: middle;" onclick="location.href='list.html'"><span>Add to BingeList</span></button>
                </div>
            </div>

            <div class="descCtMd">
                <h3 id="synopsis">Synopsis:</h3>
                <p id="descItemMd">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
</div>
