<div class="itmContainer">
    <a href="/{{ listID }}">
        <div class="ltItem">
            <img src="assets/poster.gif" class="listPic">
            <div class="ltName">
                <h2 class="ltText">
                    {{ ltname }}
                </h2>
            </div>
        </div>
    </a>
</div>