<div class="menubar">
    <a href='/home' alt = "Home"> <img id = "homeBt" src="assets/logo.png"></a>
    <a href = '/profile' alt = "Profile"> <img id = "profileBt" src = "assets/{{ avatar }}.png"></a>
</div>