<html>
    <head>
        <title>
            The BingeList-Home
        </title>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="js/script.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        
        <link rel = stylesheet type="text/css" media="all" href="assets/styleHome.css">
        <link rel = "icon" href = "assets/icon.png" type = "image/x-icon">
    </head>
    <body>
    <div class="container">
        {{> menubar }}

        <div class="homeCont">
            <h1 id="lbMyList">{{ name }}'s Lists</h1>
            {{> messages }}
            <div class="searchDiv">
                <input id="searchBox" type="search" name="query" placeholder="Search your BingeList here!">
            </div>
            <div class="ltContainer">

<!--
                {{#each lists}}
                    {{> itemcontainer ltname=ltname listID=_id}}
                    {{ else }}
                        <h1 id="lbMyList"> It's looks lonely here. Create your BingeLists now!'</h1>
                {{/each}}
-->
            </div>
        <!--DI PA TO GUMAGANA DI KO MAAYOS-->
        <div class="bottomFixButtionComponent">
            <button class="addList"><img id = "addListPic" src="assets/addList.png"
                onmouseover="this.src='assets/addList2.png'" onmouseout="this.src='assets/addList.png'"></button>
        </div>
    </div>
</div>

    {{> createlist }}
    </body>
</html>